@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;800;900&display=swap);
body {
  font-family: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/*! navbar */
.navbar {
  background: #FFFFFF;
}

.navbar_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.navbar_cont_logo {
  max-width: 198px;
  max-height: 45px;
}
.navbar_cont_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.navbar_cont_ul li:hover {
  color: #cb3131;
}
.navbar_cont_burger {
  display: none;
}
.navbar_cont_radio {
  display: none;
}
@media (max-width: 960px) {
  .navbar_cont_ul {
    position: fixed;
    right: -200%;
    top: 70px;
    background-color: rgba(183, 177, 117, 0.6392156863);
    transition: ease-in-out 3s;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
  }
  .navbar_cont_ul button {
    margin-left: 0;
  }
  .navbar_cont_burger {
    display: block;
    color: #000000;
    font-size: 22px;
  }
  .navbar_cont #ham:checked + ul {
    right: 0;
    left: 0;
    width: 100%;
  }
}

/*! end of navbar */
.showcase_cont {
  display: flex;
  gap: 96px;
  align-items: center;
}
.showcase_cont .right_case {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.showcase_cont .right_case h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 139%;
  letter-spacing: 0.02em;
  color: #E5A985;
  max-width: 600px;
}
.showcase_cont .right_case p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 171%;
  letter-spacing: 0.02em;
  color: #4A4747;
  margin-bottom: 20px;
  max-width: 576px;
}
.showcase_cont .right_case form {
  display: flex;
  gap: 15px;
}
.showcase_cont .right_case form input {
  padding: 15px 30px;
  min-width: 400px;
  background: #E5E5E5;
  border-radius: 8px 0px 0px 8px;
  border: none;
  outline: none;
}
.showcase_cont .right_case form button {
  padding: 15px 22px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135.5%;
  color: #FFFFFF;
  background: #91916C;
  border-radius: 0px 8px 8px 0px;
  max-height: 58px;
  border: none;
  cursor: pointer;
}
.showcase_cont .right_case form button:hover {
  background-color: #000000;
}
@media (max-width: 650px) {
  .showcase_cont .right_case form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .showcase_cont .right_case form input {
    width: 100%;
    min-width: fit-content;
    border-radius: 8px 8px 8px 8px;
  }
  .showcase_cont .right_case form button {
    border-radius: 8px 8px 8px 8px;
  }
}
@media (max-width: 1250px) {
  .showcase_cont {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.same {
  border: 3px solid #91916C;
  margin-top: 24px;
  margin-bottom: 25px;
  min-width: 288px;
  max-width: 288px;
  margin: 0 auto;
  height: 0;
}

.product {
  background: #E1E1C2;
}

.product_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 120px 0 50px;
}
.product_cont h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #91916C;
}
.product_cont h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #65653E;
  max-width: 700px;
}
.product_cont .prod_central {
  display: flex;
  align-items: center;
  gap: 50px;
}
.product_cont .prod_central .icons_prod {
  width: 58px;
  height: 58px;
  background: #E5A985;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 100;
  cursor: pointer;
}
.product_cont .prod_central .icons_prod:hover {
  background-color: #000000;
}
.product_cont .prod_central .central_img {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 50px 25px 0;
}
.product_cont .prod_central .central_img img {
  border-radius: 15px;
}
@media (max-width: 1150px) {
  .product_cont .prod_central {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 750px) {
  .product_cont .prod_central {
    gap: 15px;
  }
  .product_cont .prod_central .central_img {
    padding: 0;
  }
}
@media (max-width: 750px) {
  .product_cont h2 {
    font-size: 26px;
  }
  .product_cont h3 {
    font-size: 28px;
  }
}

.sevice_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 82px 0 64px;
}
.sevice_cont h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #91916C;
}
.sevice_cont h3 {
  margin-top: 20px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #E5A985;
  max-width: 720px;
  margin-bottom: 25px;
}
@media (max-width: 450px) {
  .sevice_cont h2 {
    font-size: 26px;
  }
  .sevice_cont h3 {
    font-size: 28px;
  }
}
.sevice_cont .serv_cards {
  display: flex;
  align-items: center;
  gap: 25px;
}
.sevice_cont .serv_cards .serv_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAE3D8;
  box-shadow: 10px 10px 35px 2px rgba(89, 56, 14, 0.1);
  border-radius: 20px;
  padding: 3px;
  overflow: hidden;
  max-width: 320px;
  padding-bottom: 29px;
  cursor: pointer;
}
.sevice_cont .serv_cards .serv_card p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 25px;
  color: #FFFFFF;
  max-width: 275px;
}
.sevice_cont .serv_cards .serv_card:hover {
  transform: scale(1.1);
  background: #91916C;
}
@media (max-width: 1050px) {
  .sevice_cont .serv_cards {
    flex-direction: column;
    align-items: center;
  }
}

.blog {
  background: #FFEFE7;
}

.blog_cont {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding: 80px 0;
}
.blog_cont h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #BD957E;
}
.blog_cont h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #795744;
  max-width: 720px;
}
@media (max-width: 500px) {
  .blog_cont h2 {
    font-size: 26px;
  }
  .blog_cont h3 {
    font-size: 28px;
  }
}
.blog_cont .blog_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 40px;
}
.blog_cont .blog_cards .blog_card {
  display: flex;
  align-items: center;
  gap: 32px;
  max-height: 155px;
}
.blog_cont .blog_cards .blog_card h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 171.5%;
  letter-spacing: 0.02em;
  color: #333333;
  max-width: 200px;
}
@media (max-width: 1250px) {
  .blog_cont .blog_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 850px) {
  .blog_cont .blog_cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .blog_cont .blog_cards .blog_card h5 {
    font-size: 14px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 80px 0;
}
footer h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #91916C;
}
footer .contact {
  width: 100%;
  background: #91916C;
  padding: 50px 0 150px;
  margin-top: 60px;
}
footer .contact .containers {
  width: 85%;
  margin: 0 auto;
}
footer .contact .contact_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact .contact_cont h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  max-width: 700px;
  margin-bottom: 80px;
}
@media (max-width: 680px) {
  footer .contact .contact_cont h3 {
    font-size: 32px;
  }
}
footer .contact .contact_cont .sender {
  display: flex;
  justify-content: right;
  gap: 60px;
  width: 100%;
  position: relative;
}
footer .contact .contact_cont .sender .cont_img {
  position: absolute;
  z-index: 10;
  bottom: -80%;
  left: 0;
  width: 418px;
  top: 0;
}
footer .contact .contact_cont .sender form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .contact .contact_cont .sender form .top_form {
  display: flex;
  gap: 10px;
}
footer .contact .contact_cont .sender form input {
  padding: 15px 25px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135.5%;
  color: #FFFFFF;
  outline: none;
  border: none;
  background: rgba(225, 225, 194, 0.4);
  border-radius: 8px;
}
footer .contact .contact_cont .sender form button {
  background: #E5A985;
  border-radius: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135.5%;
  color: #FFFFFF;
  outline: none;
  border: none;
  padding: 15px 0;
}
footer .contact .contact_cont .sender form button:hover {
  background-color: #000000;
}
@media (max-width: 1250px) {
  footer .contact .contact_cont .sender {
    justify-content: space-between;
    margin-left: 0;
    align-items: center;
  }
  footer .contact .contact_cont .sender .cont_img {
    position: static;
  }
}
@media (max-width: 1050px) {
  footer .contact .contact_cont .sender {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 680px) {
  footer .contact .contact_cont .sender form .top_form {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .contact .contact_cont .sender form .top_form input {
    width: 100%;
  }
}